{
    "extends": [
        "airbnb-base",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "rules": {
        "no-underscore-dangle": "off",
        "no-console": "off",
        "no-plusplus": "off",
        "func-names": [
            "warn",
            "as-needed"
        ],
        "prefer-destructuring": [
            "error",
            {
                "object": true,
                "array": false
            }
        ],
        "no-prototype-builtins": "warn",
        "no-restricted-syntax": [
            "error",
            {
                "selector": "LabeledStatement",
                "message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand.",
            },
            {
                "selector": "WithStatement",
                "message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize.",
            },
        ]
    },
    "overrides": [
        {
            "files": [
                "test/**/*.js",
                "test/**/*.ts"
            ],
            "env": {
                "mocha": true
            }
        }
    ],
    "root": true
}